#main-section {
  height: 100vh;
  background: url("Backgroundv1.png")
    no-repeat center center fixed;
  /* background: url("http://aktsa.org/images/intro-min.jpeg") no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#ask-learn-section {
  height: 70vh;
  padding-left: 0px;
  padding-right: 0px;
  color: black;
}
.big-bold-text {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learn-ask-text {
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#learn-div,
#ask-div {
  height: 70vh;;
}

#learn-div {
  border-right: 1px solid black;
}

footer {

}